<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About life | <%= tittle %></title>
     <link rel="stylesheet" href="/styles.css">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");

      body {
        max-width: 1200px;
        margin: 20px auto;
        padding: 0 20px;
        font-family: sans-serif, serif;
      }

      p,
      h1,
      h2,
      h3,
      a,
      ul {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #3f2310;
      }
      nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(238, 231, 231);
        text-transform: uppercase;
      }

      nav ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      nav li {
        list-style-type: none;
        margin-left: 20px;
      }

      nav h1 {
        font-size: 3em;
      }

      nav p,
      nav a {
        color: black;
        font-weight: 300;
      }
      footer {
        color: #DC7633;
        text-align: center;
        margin: 80px auto 20px;
      }
      h2 {
        margin-bottom: 40px;
      }
      h3 {
        text-transform: capitalize;
        margin-bottom: 8px;
      }
      .content {
        margin: left 20px;
      }
      .intro-blog form {
        max-width: 400px;
        margin: 0 auto;
      }
      .intro-blog input .intro-blog textarea {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px;
      }
      .intro-blog label {
        display: block;
        margin: top 24px;
      }

      textarea {
        height: 120px;
      }

      .intro-blog button {
        margin-top: 20px;
        background: rgb(196, 33, 33);
        color: ghostwhite;
        padding: 6px;
        border: 0;
        font-size: 1.2em;
        cursor: pointer;
      }
    </style>
  </head>
</html>
